[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=OpenVPN AWS Client
Comment=OpenVPN AWS Client
Exec="/opt/openvpn-aws/start.sh"
Path=/opt/openvpn-aws
Icon=network-vpn.svg
Terminal=false
Categories=Network;VPN;
Keywords=vpn;aws;

